.formBox {
  width: 100%;
  
  .h4 {
    text-align: center;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.shortTextBox {
  margin: 0 10px;
  width: 100%;
  @media (min-width: 300px) {
    width: 290px;
  }
  font-family: ZenMaru;
  font-size: 1em;
}

.commentBox {
  font-family: ZenMaru;
  font-size: 1em;
  margin: 0 10px;
  width: 100%;
  @media (min-width: 500px) {
    width: 490px;
  }
  height: 140px;
}

.formLabel {
  font-size: 0.9em;
}

.submitBtn {
  font-family: ZenMaru;
  font-size: 1.1em;
  height: 50px;
  width: 110px;
  border-radius: 25px;
  background: linear-gradient(-45deg, rgb(0, 153, 255), rgb(60, 60, 255));
  border: 1px solid var(--a-default);
  box-shadow: 2px 2px 5px var(--foreground);
  transition: transform 0.2s ease-in-out;
  :hover {
    transform: translateY(5px);
    background-color: #ffffff3d;
  }
}

.disabledBtn {
  // 無効時のボタンのスタイル
  background-color: #ffffff77; /* 灰色 */
  cursor: not-allowed;
  opacity: 0.6;
  
}